.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 0.5px;
    left: 40%;
    width: 100%;
    height: 40px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: black;
    border: 1px;
    padding: 2px;
}
